.ride-container {
  display: flex;
  height: 100vh;
  background: white;
}

.left-panel {
  width: 35%;
  padding: 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-right: 1px solid #eee;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.ride-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ride-form label {
  font-size: 16px;
  font-weight: 600;
}

.ride-form input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 8px;
}

.btn-search {
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.btn-search:hover {
  opacity: 0.8;
}

.suggestions-box {
  margin-top: 20px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 10px;
}

.suggestions-box h3 {
  font-size: 18px;
  font-weight: bold;
}

.suggestions-box p {
  margin-top: 6px;
  font-size: 16px;
}

.right-panel {
  width: 65%;
}

#map {
  width: 100%;
  height: 100%;
}