/* Full page container */
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  padding: 20px;
  background: url("https://images.pexels.com/photos/35082978/pexels-photo-35082978.jpeg") no-repeat center center/cover;
}

/* Card */
.signup-card {
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.8s ease-in-out;
}

/* Title */
.signup-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
}

/* Button */
.signup-btn {
  width: 100%;
  height: 40px;
  background: #4e54c8;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background: #6b71f7 !important;
  transform: translateY(-3px);
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
